<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All People</title>
</head>
<body>
<h3 th:if="${#lists.size(people) != 0}" style="color:blue">List people :</h3>
<h3 th:if="${#lists.size(people) == 0}" style="color: blue">List people is empty...</h3>

<div th:each="person : ${people}" th:if="${#lists.size(people) != 0}">
    <a th:href="@{people/{id}(id=${person.getId()})}"
       th:text="${person.getId() + ', ' + person.getName() + ', ' + person.getAge()
      + ', ' + ((#strings.equals(person.getPassword(),'null'))?' Registration is recommended' : 'Registration is complete')
      + ', ' + ((#strings.equals(person.getRole(),'ROLE_USER'))?' ROLE IS USER' : ' ROLE IS ADMIN')}">user
    </a>
</div>
    <br/>
    <hr/>
        <a href="/people/new">Create new user</a>
    <br/>
    <hr/>
<!--        <a href="/auth/registration">Registration</a>-->
<!--    <br/>-->
<!--    <hr/>-->
        <a href="/auth/makeAdmin">Make admin</a>
    <br/>
    <hr/>
        <a href="/logout">Logout</a>
</body>
</html>