<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>One Person</title>
</head>
<body>
<p th:text="${person.getId() + ' ,' + person.getName()}">value</p>
<hr/>
<form th:method="GET" th:action="@{/people/{id}/edit(id=${person.getId()})}">
    <input type="submit" value="Edit">
    <!--    <a th:href="@{/people/{id}/edit(id=${person.getId()})}">Edit</a>-->
    <hr/>
</form>
<form th:if="${(person.getPassword() == 'null')}" th:method="GET"
      th:action="@{/auth/registration/{id}(id=${person.getId()})}">
    <input type="submit" value="Registration">
    <br/>
    <hr/>
</form>
<form th:if="${(person.getPassword() != 'null')}" th:method="GET"
      th:action="@{/auth/unregistration/{id}(id=${person.getId()})}">
    <input type="submit" value="Unregistration">
    <br/>
    <hr/>
</form>
<form th:method="DELETE" th:action="@{/people/delete/{id}(id=${person.getId()})}">
    <input type="submit" value="Delete">
</form>
</body>
</html>